/* ====================== Palette ==================================*/
/* Main text color #2E2F42 */
/* Secondory text color #434455 */
/* Background #FFF */
/* Footer #2E2F42 */
/* Grid 1128 */

/* ====================== Inheritance =============================*/
/* ====================== HEADER =====================================*/
/* .header{
  border-bottom: 1px solid  #E7E9FC;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.header .nav .logo-header{
  margin-right: 76px;
 
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; 
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color:var(--akcent-color); 
}
.header .nav .acsent{
  font-weight: 800;
  line-height: 1.17; 
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--logo-color);
}
.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-right: auto;
}
.nav .list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap:40px;
}

.nav .link{
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  letter-spacing: 0.32px;
  color: var(--text-color-secindary);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav .link:hover,.link:focus{
  color:var(--hover-color);
}
.nav .link.current{
  position: relative;
  color: var(--hover-color);
}
.nav .link.current::after{
    content: "";
    position: absolute;
    left: 0%;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
}

.address .list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap:40px;
}
.address .link{
  line-height: 1.5; 
  letter-spacing: 0.32px;
  color: var(--text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link:hover,.link:focus{
  color:var(--hover-color);
} */
 
/* ====================== HERO ==========================================*/
/* .hero{
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;

  background-color: var(--hero-color);
  background-image:linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../../images/hero/hero-desktop.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
}
.hero .title{
  max-width: 496px;
  margin: 0 auto;
  
  color: var(--bg-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; 
  letter-spacing: 1.12px;
}
.hero .button{
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  padding: 16px 32px;
  min-width: 169px;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.04em;
  
  color: var( --bg-color);
  background-color: var(--akcent-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
.hero .button:hover, .button:focus{
   background-color:var(--hover-color);
   border: transparent;
} */

/* ====================== ADVANTAGES ==========================================*/
/* .advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages .list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.advantages .list .item{
  flex-basis: calc((100% - 3 * 24px) / 4)
}
.advantages .wripper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;

  background-color: #f4f4fd;
  border-radius: 4px;
}
.advantages .icon{
  margin-top: 24px;
  margin-bottom: 24px;
  fill: black;
}
.advantages .title{
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; 
  letter-spacing: 0.4px;
  color: var(--text-color-secindary);
}
.advantages .text{
  max-width: 264px;
  color: var(--text-color);
} */

/* ====================== WHAT WE ARE DOING ==========================================*/
.doing{
  padding-bottom: 120px;
}
.doing .title{
  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; 
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
  color: var(--text-color-secindary);
}
.doing .list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.doing .list .item{
 flex-basis: calc((100% - 3 * 16px) / 3)
}
/* ====================== OUR TEAM ==========================================*/
.team{
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--bg-color-secindary);
}
.team .title{
  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; 
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--text-color-secindary);
}
.team .list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.team .list .item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: calc((100% - 3 * 24px) / 4);

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);  

  background-color: var(--bg-color);
}
.team .item .wripper{
  padding-bottom: 32px;
  padding-top: 32px;
}
.team .name{
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; 
  letter-spacing: 0.02em;
  text-align: center; 
  color: var(--text-color-secindary);
}
.team .position{
   margin-bottom: 8px;
   text-align: center; 
   color: var(--text-color);
}
.social-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.social-list .link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  width: 40px;
  height: 40px;

  background-color:var(--akcent-color);
  border-radius:50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 .social-list .link:hover, .social-list .link:focus{
  background-color:var(--hover-color)
 }

 .social-icon{
  fill: var(--bg-color-secindary)
 }
/* ====================== CUSTUMERS ==========================================*/
.customers{
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers .title{
  margin-bottom: 72px;

  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; 
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--hero-color);
}
.customers .list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.customers .item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers .item .link{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius:4px;

  color:var(--icon-color);

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers .link:hover,.customers .link:focus{
  color:var(--hover-color);
  border-color:var(--hover-color);
}

 .customers .item .link .icon{
  fill:currentColor;
}
/* ====================== FOOTER ==========================================*/
.footer{
  padding: 100px 0;
  background-color: var(--footer-color);
}
.footer .container{
  display: flex;
  justify-content: left;
  align-items: baseline;
  flex-wrap: wrap;
}
.footer .wripper{
  margin-right: 120px;
}
 .logo-footer{
   display: inline-block;
   margin-bottom: 16px;

  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; 
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--akcent-color);
}
.logo-footer .acsent{
  font-weight: 800;
  line-height: 1.17; 
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--logo-color-footer);
}
.footer .text{
  max-width: 264px;
  color:var(--footer-text);
}

.social-footer .title{
  margin-bottom: 16px;
  font-weight: 500;
  line-height:1.5; 
  letter-spacing: 0.32px;
  color: var(--bg-color);
}
.social-footer .social-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.social-footer .social-list .link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  width: 40px;
  height: 40px;

  background-color:var(--akcent-color);
  border-radius:50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
 .social-footer .social-list .link:hover, .social-footer .social-list .link:focus{
  background-color:#31d0aa;
 }
.social-footer .icon {
  fill:var(--footer-text)
}

.footer-form-wripper{
  margin-left: 80px;
}

.footer-form-title{
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  color: var(--bg-color);
}
.footer-form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.footer-form-input{
  width: 264px;
  height: 40px;
  padding: 8px 16px;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: 1px solid  #FFF;
  outline: transparent;

  color: var(--bg-color);
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-form-input::placeholder{
  color: var(--bg-color);
}

.footer-form-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:16px;

  min-width: 165px;
  height: 40px;
  /* padding: 24px 8px; */

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;

  background: var(--akcent-color);
  color: var(--bg-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover, .footer-form-btn:focus{
   background-color:var(--hover-color);
   border: transparent;
}

.footer-btn-svg{
  margin-left: 16px;
  fill: var(--bg-color);
}

/* ====================== PORTFOLIO ==========================================*/
.cards{
  padding-top: 96px;
  padding-bottom: 120px;
}
/* ====================== BUTTONS ==========================================*/
.list.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  
  margin-bottom: 72px;
} 
.list .button{
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #E7E9FC;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--akcent-color);
  background-color: var(--bg-color-secindary);

  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .button:hover, .button:focus{
  color: var(--bg-color);
  background-color: #404BBF;
  border:1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ====================== CARDS ==========================================*/
.list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:48px 24px;
}
.card{
  width: calc((100% - 48px) / 3);
}
.card .link{
  display: block; 
  transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.card .link:hover, .card .link:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-wripper{
  position: relative;
  overflow: hidden;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  color: var(--bg-color-secindary);
  background-color: var(--akcent-color);

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 .card .link:hover .overlay{
  transform: translateY(0%);
}
.card .link:focus .overlay{
  transform: translateY(0%);
}
.card-wripper{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.card .title{
  margin-bottom: 8px;
 
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; 
  letter-spacing: 0.02em;
  color: var(--text-color-secindary);
}
.card .text{
  margin-left: 16px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ====================== BACKDROP ==========================================*/
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 100%;
  background:  rgba(46, 47, 66, 0.40);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ====================== MODAL ==========================================*/
.modal{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 408px;
  min-height: 584px;

  padding: 72px  24px 24px 24px;

  border-radius: 4px;
  background-color:  #FCFCFC;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.close-button{
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center; 

  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  padding: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover, .close-button:focus{
  background-color:var(--hover-color);
  border: none;
}

 .close-button .icon{
  fill: var(--hero-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .close-button:hover .icon,.close-button:focus .icon{
  fill: #ffffff;
 }  

.modal-title{
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--hero-color);
}

.input-container{
  margin-bottom: 8px;
}
.textarea-container{
  margin-bottom: 16px;
}
.modal-form-icon-thumb{
  position: relative;
}
.label{
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; 
  letter-spacing: 0.04em;
  
  color: var(--icon-color);
}
.input{
  display: block;
  width: 100%;
  max-width: 360px;
  height: 40px;

  margin: 0 auto;
  padding-left: 38px;

  border-radius: 4px;
  border: 1px solid  rgba(46, 47, 66, 0.40);
  outline: transparent;


  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.input:focus {
  border-color: var(--akcent-color);
}
.input:focus + .modal-icon{
  fill:var(--akcent-color);
}

.modal-icon{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea{
  display: block;
  width: 100%;
  max-width: 360px;
  height: 120px;

  margin-bottom: 16px;
  padding: 8px 16px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; 
  letter-spacing: 0.04em;

  border:1px solid  rgba(46, 47, 66, 0.40);
  border-radius: 4px;
  resize: none;

  outline: transparent;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.40);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border-color: var(--akcent-color);
}

.checkbox-wripper{
  margin-bottom: 24px;
}
.label-checkbox{
    display: block;
    margin-right: 8px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:var(--icon-color);
}
.checkbox-icon-container {
   display: inline-flex; 
   align-items: center;
   justify-content: center;

   width: 16px;
   height: 16px;

   font-size: 12px;
   font-weight: 400;
   line-height: 1.16;
   letter-spacing: 0.03em;

   border: 1px solid rgba(46, 47, 66, 0.4); 
   border-radius: 2px;
   
   color:var(--akcent-color);
   fill: transparent;

    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .label-checkbox > .checkbox-icon-container {
  background-color:  var(--hover-color);
  border: none;
  fill: var(--bg-color-secindary);
  border-color:  var(--hover-color);
}

.checkbox-link{
  color:var(--akcent-color);
}
/* .label-checkbox::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  margin: 0 auto;
  margin-right: 8px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.40);

  background-image: url(../images/chexbox.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.checkbox:checked + .label-checkbox::before {
  background-color:var(--akcent-color);
} */

.btn-submit{
  display: block;
  min-width: 169px;
  height: 56px;

  margin: 0 auto;
  margin-top: 25px;
  padding: 16px 32px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;

  color: var(--bg-color);
  background: var(--akcent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-submit:hover, .btn-submit:focus{
   background-color:var(--hover-color);
   border: transparent;
}
